@tailwind base;
@tailwind components;
@tailwind utilities;

/*  remove apps scrollbar so we can set custom on e in layout below header */
body,
html {
  overflow: hidden;
  scroll-behavior: smooth;
}

.custom-underline {
  text-decoration: underline;
  text-underline-offset: 0.1em; /* Adjust the distance */
  text-underline-position: under; /* For better cross-browser compatibility */
  text-decoration-thickness: 1px;
}

/* gutters sm */
.gutters-sm {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 640px) {
  .gutters-sm {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (min-width: 1024px) {
  .gutters-sm {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* gutters lg */
.gutters-lg {
  padding-left: 15vw;
  padding-right: 15vw;
}

@media (min-width: 640px) {
  .gutters-lg {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1024px) {
  .gutters-lg {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
