@tailwind base;
@tailwind components;
@tailwind utilities;

/*  remove apps scrollbar so we can set custom on e in layout below header */
body,
html {
  overflow: hidden;
}

.custom-underline {
  text-decoration: underline;
  text-underline-offset: 0.1em; /* Adjust the distance */
  text-underline-position: under; /* For better cross-browser compatibility */
  text-decoration-thickness: 1px;
}

.animated-bg-gradient {
  background: linear-gradient(270deg, #cee7ed, #dcebe3, #fbeddc, #e5f5d8);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
