.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;
  text-decoration: none; /* This applies to the container, not the <a> tag */
  color: inherit;
}

.control a {
  text-decoration: none; /* Remove underline from <a> tags */
  color: inherit; /* Ensure <a> tags inherit the text color */
  display: block; /* Optional: Makes the <a> tag fill the container */
}
.active {
  /* Light green color */
  font-weight: bold; /* Example style */
  /* Other styles for active links */
}
