.exam-enter {
  opacity: 0;
  transform: translateY(20px);
}

.exam-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms,
    transform 1000ms;
}

.exam-exit {
  opacity: 1;
  transform: translateY(0);
}

.exam-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 500ms,
    transform 1000ms;
}
