.game-section {
  height: 50vh;
  width: 30vw;
  border: 1px solid rgb(219, 218, 218);
  background-color: rgb(243, 241, 239);
  border-radius: 8px;
  padding: 10px 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-options {
  display: flex;
  flex-direction: column;
}
.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 3px;
  cursor: pointer;
  width: auto;
}
/* .answer-option:hover {
  background-color: rgb(223, 219, 211);
}
 */
.prev-next-buttons-section {
  display: flex;
  justify-content: space-between;
}

.prev-button-hidden {
  visibility: hidden;
}

.display-correct-or-wrong {
  text-align: center;
  /* border: 1px solid rgb(213, 208, 208);
  padding: 10px; */
  border-radius: 10px;
  color: rgb(75, 78, 77);
  font: bold;
  font-size: x-large;
}

.answer-option.correct {
  background-color: rgb(183, 236, 183);
}
.answer-option.wrong {
  background-color: rgb(242, 225, 225);
}
